#projects
.idea/

#temp files
*.pyc
*.orig

#os files
.DS_Store
Thumbs.db

#project-specific files
.tox/
stuff/
MANIFEST$
pymorphy2_dicts/data
pymorphy2_dicts/version.py
build/
*.egg-info
dict.xml
annot.corpus.xml
dist/
