#projects
.idea/

#temp files
*.pyc
*.orig
*.ipynb_checkpoints

#os files
.DS_Store
Thumbs.db

#project-specific files
.tox/
stuff/
*.ipynb
*.xml
MANIFEST$
compiled-dicts
pymorphy2-dicts-*
*.egg-info
dict.opcorpora.xml
annot.corpus.xml
