include README.rst
recursive-include pymorphy2_dicts/data *.json
recursive-include pymorphy2_dicts/data *.dawg
recursive-include pymorphy2_dicts/data *.intdawg
recursive-include pymorphy2_dicts/data *.array
